body {
    font-family: Arial, sans-serif ;
    text-align:  center;
    
  }
  
  .game-board {
    display: inline-block;
    border: 2px solid #0a0a0a;
    padding: 30px;
  }
  
  .row {
    display: flex;
    background-color: bisque;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 3px solid #ff02ff;
    display: inline-block;
    font-size: 100px;
    line-height: 100px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #2caef9;
  }
  
  #reset-button {
    margin-bottom: 20px;
  }